body{
    background-color:#800000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fundo{
    background-color: #B22222;
    border-radius: 10%;
    border: solid 3px;
    border-color: black;
    padding: 50px;
    margin-top: 200px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
p{
    margin: 0;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}